h1 code { font-size: 1em; color: #633; }
h1 code a { color: inherit; }

#content p {
	margin-top: 0;
	margin-bottom: 0.5em;
}

#copyright p {
	display: inline;
}

/*a {
	color: #13e;
	text-decoration: none;
}

a:hover {
	color: #24f;
}*/

pre a { text-decoration: none; }
pre a:hover { text-decoration: underline; }

code { font-family: "Consolas", "Bitstream Vera Sans Mono", "Andale Mono", "Monaco", "DejaVu Sans Mono", "Lucida Console", "monospace"; font-size: 1.0em; }
code code, pre code, code a code { font-size: inherit; }

#main-nav {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	display: inline-block;
	vertical-align: top;
	font-size: 9.5pt;
	min-width: 10em;
	width: 20%;
	padding: 2em 1em;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	background-color: #eee;
}

#main-contents {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	display: inline-block;
	vertical-align: top;
	font-size: 9.5pt;
	width: 80%;
	padding: 2em;
}

h1 code a {
	text-decoration: none;
	color: inherit;
	border-bottom: 1px dashed #cbb;
}

table {
	border-collapse: collapse;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}

th {
	text-align: left;
	border-bottom: 1px solid black;
	padding: 1pt;
	padding-right: 12pt;
}

td {
	border-top: 1px dashed #ddd;
	border-bottom: 1px dashed #ddd;
	vertical-align: top;
	padding: 1pt;
	padding-right: 12pt;
}

col.caption {
	min-width: 170pt;
}

#navigation .navblock ul.tree-view a.package {
	background-image: url(../images/ddox/tree-item-open.png);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 18px;
	padding-right: 4px;
}

#navigation .navblock ul.tree-view li.collapsed a.package {
	background-image: url(../images/ddox/tree-item-closed.png);
}

#navigation .navblock ul.tree-view a.module {
	padding-right: 4px;
	padding-left: 18px;
}

ul.tree-view a.selected {
	background-color: #555;
}

ul.tree-view {
	padding: 0;
	margin: 0;
}

ul.tree-view ul {
	margin: 0;
	padding: 0;
	padding-left: 10pt;
}

ul.tree-view li {
	list-style-type: none;
	padding: 0;
	margin-left: 0;
}

span.tableEntryAnnotation { color: #866;}

a.protected {
	font-style: italic;
	background-image: url(../images/ddox/protected.png);
	background-repeat: no-repeat;
	background-position: 0pt 2pt;
	padding-left: 16px;
}
a.package {
	font-style: italic;
	background-image: url(../images/ddox/package.png);
	background-repeat: no-repeat;
	padding-left: 16px;
}
a.private {
	font-style: italic;
	background-image: url(../images/ddox/private.png);
	background-repeat: no-repeat;
	padding-left: 16px;
}
a.inherited:after { content: url(../images/ddox/inherited.png); padding-left: 3pt; vertical-align: bottom; }

#symbolSearchPane label { color: #ddd; }

#symbolSearch { width: 112pt; }

#symbolSearchResults {
	position: absolute;
	left: 136pt;
	width: 400pt;
	margin: 0;
	background-color: white;
	z-index: 1000;
	border: 1px solid black;
	list-style: none;
	padding: 0;
	overflow: hidden;
	font-size: 9.5pt;
}

#symbolSearchResults li {
	border: none;
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 18px;
}

#symbolSearchResults li a {
	border: none;
	color: black;
}

#symbolSearchResults .deprecated a { color: gray; }
#symbolSearchResults .module { background-image: url(../images/ddox/module.png); }
#symbolSearchResults .functiondeclaration { background-image: url(../images/ddox/function.png); }
#symbolSearchResults .classdeclaration { background-image: url(../images/ddox/class.png); }
#symbolSearchResults .interfacedeclaration { background-image: url(../images/ddox/interface.png); }
#symbolSearchResults .structdeclaration { background-image: url(../images/ddox/struct.png); }
#symbolSearchResults .variabledeclaration { background-image: url(../images/ddox/variable.png); }
#symbolSearchResults .property { background-image: url(../images/ddox/property.png); }
#symbolSearchResults .enumdeclaration { background-image: url(../images/ddox/enum.png); }
#symbolSearchResults .enummemberdeclaration { background-image: url(../images/ddox/enummember.png); }
#symbolSearchResults .aliasdeclaration { background-image: url(../images/ddox/alias.png); }
#symbolSearchResults .templatedeclaration { background-image: url(../images/ddox/template.png); }
