h1 code { font-size: 1em; }
h1 code a { color: inherit; }

#copyright p {
	display: inline;
}

pre a { text-decoration: none; }
pre a:hover { text-decoration: underline; }

h1 code a {
	text-decoration: none;
	color: inherit;
	border-bottom: 1px dashed #CCC;
}

.hyphenate code {
	hyphens: manual;
}

col.caption {
	min-width: 170pt;
}

#navigation #cssmenu a.package {
	background-image: none;
}

span.tableEntryAnnotation { color: #866;}

a.protected {
	font-style: italic;
	background-image: url(../images/ddox/protected.png);
	background-repeat: no-repeat;
	background-position: 0pt 2pt;
	padding-left: 16px;
}
a.package {
	font-style: italic;
	background-image: url(../images/ddox/package.png);
	background-repeat: no-repeat;
	padding-left: 16px;
}
a.private {
	font-style: italic;
	background-image: url(../images/ddox/private.png);
	background-repeat: no-repeat;
	padding-left: 16px;
}
a.inherited:after { content: url(../images/ddox/inherited.png); padding-left: 3pt; vertical-align: bottom; }

#symbolSearchPane label { color: #ddd; }

#symbolSearch { width: 112pt; }

/* Don't show simple handcrafted cheat sheets. DDOX does a good job generating
 * them. */
table.simple-cheatsheet { display: none; }
