html
{
	height: 100%; /* of the viewport */
}

body
{
	padding: 0;
	border: 0;
	color: black;
	background-color: #1f252b;
	background-repeat: no-repeat;
	font-size: 100%;
	font-family: Verdana, "Deja Vu", "Bitstream Vera Sans", sans-serif;
	margin: 0px auto;
	position: relative; /* So that absolute/fixed positions cling to this. */
	min-height: 100%;
}

/* Pseudo-padding. Can't use padding-top, because that's added to height.
Can't use margin-top on children, because it collapses with body's, and
consequently is added to height. */
body::before
{
	content: "";
	display: block;
	height: 1em;
}

/* show signature download on hover */
span.sig_btn
{
    display: inline-block;
    line-height: 2.4em;
}

span.sig_btn > a:last-child
{
    visibility: hidden;
}

span.sig_btn:hover > a:last-child
{
    visibility: visible;
}

a.btn
{
    color: black !important; /*override a:visited color*/
    border: 1px solid gray;
    border-radius: 20px;
    text-decoration: none;
    padding: 6px 12px;
}

a.btn:hover
{
    background-color: lightgray;
}

/* replaces <big> tag */
em.big
{
    font-style: normal;
    font-size: larger;
}

/* replaces <tt> tag */
em.tt
{
    font-style: normal;
    font-family: Consolas, "Bitstream Vera Sans Mono", "Andale Mono", Monaco, "DejaVu Sans Mono", "Lucida Console", monospace;
}

/* replaces <u> tag */
em.u
{
    font-style: normal;
    text-decoration: underline;
}

table.params
{
	border: 1px dotted black;
}

tr.param
{
	border: none;
   	border-bottom: 1px dotted gray;
}

tr:last-child
{
   	border-bottom: none;
}

td.param_id
{
	border: inherit;
	font-family: monospace;
	font-weight: bold;
	font-size: 120%;
	padding-right: 1em;
	white-space: nowrap;
	vertical-align: top;
}

td.param_desc
{
	border: inherit;
	font-style: italic;
}

table.download-compilers
{
	width: 100%;
	max-width: 50em;
	table-layout: fixed;
}

table.download-compilers td
{
	border: none;
}

table.download-compilers h2
{
	margin: 0;
}

table.download-compilers > tbody > tr:first-child > td
{
	text-align: center;
	vertical-align: middle;
}

table.download-compilers > tbody > tr:nth-child(2) > td
{
	text-align: left;
}

table.download-compilers > tbody > tr:nth-child(2) > td > ul
{
	margin-bottom: 0;
	padding-left: 1em;
}

table.download-compilers div.download-link
{
	text-align: center;
	margin-bottom: 1em;
}

/*
table.download-compilers div.download-link a
{
	background-color: #FF2222;
	border: 0.3em solid #AA0000;
	border-radius: 1em;
	color: white;
	padding: 0.5em;
	text-decoration: none;
}

table.download-compilers div.download-link a:after
{
	content: '\2b07';
	font-weight: 900;
	text-decoration: underline;
	margin-left: 0.6em;
	font-size: 120%;
}
*/

table.download-compilers img
{
	width: 100%;
}

table.download-compilers h3
{
	margin-top: 0;
	text-align: center;
}

div#download-choose
{
	float: right;
}

.download_image
{
	display: inline-block;
	width: 100px;
	vertical-align: top;
}

h3.download
{
	display: inline-block;
}

.download_paragraph
{
	display: inline-block;
}

.download_paragraph > h3
{
	margin: 0;
}

.footnote
{
	font-style: italic;
}
.footnote::before { content: " ("; }
.footnote::after { content: ")"; }

.gname
{
	font-style: italic;
}

.metacode
{
	font-style: italic;
}

.key
{
	font-weight: bold;
	display: block;
}

.hyphenate
{
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
}

.donthyphenate
{
	-webkit-hyphens: manual;
	-moz-hyphens: manual;
	-ms-hyphens: manual;
	hyphens: manual;
}

.black { color: black; }
.blue { color: blue; }
.green { color: green; }
.red { color: red; }
.white { color: white; }
.yellow { color: yellow; }

.bigoh
{
	font-weight: bold;
}

div.summary, div.description, div.keyval
{
	margin: 1.12em 0;
}

h1, h2, h3, h4, h5, h6
{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	color: #633;
	line-height: normal;
	text-align: left;
	margin: 2em 0 1em;
}

h1
{
	font-size: 2.0em;
	margin-top: 0;
}

body#Home h1 span.slogan
{
	font-size: 0.75em;
}

h2
{
	font-size: 1.5em;
	margin-top: 1em;
	margin-bottom: 0.5em;
}

h3
{
	font-size: 1.35em;
	margin-bottom: 0.5em;
}

h4
{
	font-size: 1.15em;
	font-style: italic;
	margin-bottom: 0;
}

form
{
	margin: 0;
}

blockquote
{
	font-family: Georgia, "Times New Roman", Times, serif;
	background-color: #e5e5e5;
	display: block;
	padding: 0.25em 1em;
	margin: 1em 2em;
}

blockquote p:before
{
	content: "\201C";
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #bacaca;
	display: block;
	font-size: 700%;
	width: 50px;
	height: 0;
	margin-left: -0.5em;
	line-height: 0.8em;
}

blockquote p
{
	margin: 0;
	font-style: italic;
}

blockquote cite
{
	display: block;
	text-align: right;
}

pre
{
	background: white;
	padding: 1ex;
	margin: 1em 0 1em 0em;
	font-family: monospace;
	font-size: 1.2em;
	line-height: normal;
	border: 1px solid #ccc;
	width: auto;
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

dd, .d_decl_dd
{
	padding: 1ex;
	margin-left: 3em;
	margin-bottom: 1em;
}

table
{
    border: solid black;
    border-width: 2px 0;
    border-collapse: collapse;
}

table tr
{
	border: none;
}

table td, table th, table caption
{
    text-align: left;
    vertical-align: top;
    padding: 0.3em;
}

table td
{
    border: none;
    border-bottom: 1px solid #E4E9EF;
	text-align: justify;
}

table th
{
    border: none;
    border-bottom: 1px solid black;
}

table td:not(:last-child), table th:not(:last-child)
{
    padding-right: 1em;
}

hr
{
	margin: 2em 0;
}

a
{
	color: #006;
}

a:visited
{
	color: #606;
}

/*
Styling for page anchor self-links.

These links look like regular headers unless hovered, in which case
they are underlined and display a pilcrow after them.
*/
a.anchor
{
	color: #633; /* Use the regular header text color */
	text-decoration: none; /* Don't underline unless hovered */
}

a.anchor:hover
{
	text-decoration: underline; /* See above */
}

a.anchor:hover:after
{
	content: " \00B6"; /* Unicode pilcrow symbol */
	color: black; /* Pilcrow should not use the regular header text color */
	font-style: normal; /* ... and should not be italic */
}

/* Avoid inserting the pilcrow in the middle of the line on the compiler pages */

body.dcompiler dt a.anchor:hover:after
{
	display: none;
}

body.dcompiler dt a.anchor:hover
{
	position: relative;
}

body.dcompiler dt a.anchor:hover:before
{
	content: " \00B6";
	color: black;
	font-style: normal;
	position: absolute;
	left: -1em;
}

.notice
{
	display: block;
	padding: 0.5em;
	text-align: center;
	font-weight: bold;
	margin-bottom: 0.5em;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	text-decoration: none;
	background-color: white;
	border: 1px dotted #633;
}

a.notice:hover
{
	background: inherit; /* $(menu_bg_hover) */
}

/* These are different kinds of <pre> sections */
.bnf /* grammar */
{
	background-color: white;
	color: #000066;
}

.ddoccode
{
	background-color: #f3eeee;
	color: #000066;
}

.console /* command line console */
{
	background-color: #f7f7f7;
	color: #181818;
}

.moddeffile /* module definition file */
{
	background-color: #efeffe;
	color: #010199;
}

.scini /* sc.ini configuration file */
{
	background-color: #fef6fe;
	color: #111199;
}

.d_code /* D code */
{
	background-color: #fcfcfc;
	color: #000066;
}

.d_code2 /* D code */
{
	background-color: #fcfcfc;
	color: #000066;
}

.asmcode /* Asm code */
{
	background-color: #afcbde;
	color: #000066;
}

.ccode /* C code */
{
	background-color: #f6ecf0;
	color: #000066;
}

.cppcode /* C++ code */
{
	background-color: #f6ecf0;
	color: #000066;
}

.cppcode2 /* C++ code */
{
	background-color: #f6ecf0;
	color: #000066;
}

td .d_code2, td .cppcode2, td .cppcode
{
	min-width: 20em;
	margin: 1em 0em;
}

.d_inlinecode
{
	font-family: monospace;
	/* font-size: 1.2em; */
	font-weight: bold;
}

/* Elements of D source code text */
.d_comment { color: green; }
.d_string { color: red; }
.d_keyword { color: blue; }
.d_psymbol { text-decoration: underline; }
.d_param { font-style: italic; }

/* Focal symbol that is being documented */
.ddoc_psymbol { color: #336600; }

div#top, div#navigation
{
	width: 16em;
	background: #333 /*hsl(0, 0%, 20%)*/;
	border: 0.25em none #191919 /*hsl(0, 0%, 10%)*/;
	border-right-style: solid;
}
div#top
{
	position: absolute;
	top: 0;
	left: 0;
	font-size: 0.875em;
	min-height: 100%;
}

div#header
{
	position: relative;
	z-index: 1; /* i.e. higher than #navigation's */
}

img
{
	border: 0;
}

div#header a.logo
{
	display: block;
	text-align: center;
	padding: 1em 0;
}

img#logo
{
	vertical-align: text-bottom;
}

div#header a#d-language
{
	display: block;
	font-variant: small-caps;
	text-align: center;
	color: white;
	text-decoration: none;
	line-height: 1.4em;
}

img#github-ribbon
{
  position: absolute;
  top: -15px;
  right: 0;
  border: 0;
  z-index: 1;
}

div#search-box, span#search-query, span#search-dropdown, span#search-submit
{
	border: 0.1em none #aaa;
}

div#search-box
{
	white-space: nowrap;
	margin: 3em 1em;
	-webkit-border-radius: 0.3em 0.3em 0.3em 0.3em;
	-moz-border-radius: 0.3em 0.3em 0.3em 0.3em;
	border-radius: 0.3em 0.3em 0.3em 0.3em;
	background: #F6F6F6;
	border-style: solid;
}

span#search-query, span#search-dropdown, span#search-submit
{
	vertical-align: top;
	line-height: 1.3em;
	height: 1.8em;
}
span#search-dropdown, span#search-submit
{
	display: inline-block;
}

span#search-query input, span#search-dropdown select, span#search-submit button
{
	background: transparent;
	color: black;
	border: none;
	margin: 0;
	padding: 0 0.5em;
	width: 100%;
	height: 100%;
	outline: none;
}

span#search-query
{
	display: block;
	border-bottom-style: solid;
}

span#search-dropdown
{
	position: relative;
	border-right: none;
	overflow: hidden;
	width: 11em;
	/*
		= 16em [#navigation's width]
		- 2 * 1em [#search-box's margin-{left,right}]
		- 3em [#search-submit's width]
	*/
}

span#search-dropdown select
{
	position: relative;
	width: 14em; /* Pushing the native dropdown arrow into invisibility. */
	z-index: 1;
}

span#search-dropdown:after
{
	content: "\f107"; /* angle down */
	font-family: FontAwesome;
	position: absolute;
	height: 10px;
	width: 1em;
	top: 50%;
	margin-top: -0.5em;
	right: 0.2em;
}

span#search-submit
{
	line-height: 1.2em;
	width: 3em;
	/*
		= 16em [#navigation's width]
		- 2 * 1em [#search-box's margin-{left,right}]
		- 11em [#search-submit's width]
	*/
	border-left-style: solid;
	margin-left: -0.1em; /* = border-width */
}

span#search-submit span /* hide 'go' */
{
	display: none;
}


div#navigation
{
	position: relative;
	font-size: 0.875em;
	float: left;
	margin-top: 2.4em;
	/*
		= - 1em [body::before pseudo-padding]
		+ 2 * 1em [div#header a.logo's padding-{top,bottom}]
		+ 1.4em [#d-language's line-height]
	*/
	padding-top: 95px; /* = #logo's height */
}

div#content
{
	text-align: justify;
	min-height: 440px;
	margin-left: 18em;
	/*
		= 16em [#navigation's width]
		+ 2em [inter-column space]
	*/
	margin-right: 1em;
	padding: 1.6em;
	padding-top: 1.3em;
	padding-bottom: 1em;
	background-color: #f6f6f6;
	font-size: 0.875em;
	line-height: 1.4em;
	text-align: justify;
	border: 0.25em solid #ccd5d5;
}

body#Home div#content
{
	margin-right: 21em;
	/*
		= 1em [#news's margin-right]
		+ 18em [#news's width]
		+ 2em [inter-column space]
	*/
}

body.chm div#news,
body.chm div#navigation,
body.chm div#top
{
	display: none;
}

body.chm
{
	min-width: 0 !important;
}

body.chm div#content
{
	padding: 20px;
	border: none;
	margin: 0 !important;
	border-radius: 0;
}

body.chm div#tools
{
	margin-right: 0;
}

body.chm dt.d_decl
{
	width: 100%;
}

span#wiki
{
	position: relative;
	right: 0;
	z-index: 2;
}

body#Home #content {
	margin-right:20em;
}

div#news
{
	font-size: 0.875em;
	float: right;
	width: 18em;
	margin-right: 1em;
}

div#twitter
{
	color: white;
}

div#forum-summary
{
	color: white;
	width: 100%;
	margin-right: 1em;
}

div#forum-summary > iframe
{
	border: 0;
	width: 100%;
	height: 210px;
}

div.navblock
{
	margin-top: 0;
	margin-bottom: 1em;
}

div#navigation .navblock h2
{
	font-family: Verdana, "Deja Vu", "Bitstream Vera Sans", sans-serif;
	font-size: 1.35em;
	color: #ccc;
	margin: 0;
}

div#navigation .navblock ul
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

div#navigation .navblock li
{
	margin: 0 0 0 0.8em;
	padding: 0;
}

#navigation .navblock a
{
	display: block;
	color: #ccc;
	text-decoration: none;
	padding: 0.1em 0;
	border-bottom: 1px dotted #494949;
}

#navigation .navblock a:hover
{
	color: #eee;
}

#navigation .navblock a.active
{
	color: white;
	border-color: white;
}


div#translate
{
	margin-top: 3em;
	margin-left: 0;
	color: #ccc;
}


div#tools
{
	display: inline;
	float: right;
	margin:
		-1.1em /* = -(1.3em [#content's padding-top] - 0.2em) */
		-1.4em /* = -(1.6em [#content's padding-right] - 0.2em) */
		1em 1em;
	text-align: right;
}

body#Downloads div#tools
{
	padding-right: 149px; /* = width of github-ribbon.png */
}

div#tools a.button
{
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	background:-o-linear-gradient(top, #ededed, #dfdfdf);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	border:1px solid #aaa;
	display:inline-block;
	color:#555;
	font-family:arial;
	font-size:72%;
	font-weight:bold;
	padding:0px 6px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}

div#tools a.button:hover
{
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	background:-o-linear-gradient(top, #dfdfdf, #ededed);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}

div#tools a.button:active
{
	position: relative;
	top: 1px;
}

div#tools img
{
	vertical-align: middle;
}

.tip {
	position: relative;
}

.tip span {
	display: none;
	position: absolute;
	top: 25px;
	left: auto;
	right: 0;
	width: 200px;
	padding: 8px !important;
	z-index: 100;
	background: #000;
	color: #eee !important;
	font-style: normal !important;
	font-size: 72%;
	text-align: left;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;

	/* undo inherited attributes */
	text-shadow: none;
}

.tip:hover span {
	display: block;
}


div#content li
{
	padding-bottom: .7ex;
}


div#footernav
{
    clear: both;
/* 	margin-top: 2em; */
	padding: 1em 2em 0 2em;
/* 	background-color: #303333; */
	color: #666;
	text-align: center;
	font-size: 80%;
}

div#footernav a
{
	color: #ccc;
}

div#footernav a:hover
{
	color: white;
}


div#copyright
{
	padding: 1em 2em;
/* 	background-color: #303333; */
	color: #ccc;
	font-size: 50%;
	text-align: center;
}

div#copyright a
{
	color: #ccc;
}


/* These are for the newsgroup archives */
div#newsnav
{
	margin-top: -1.5em;
	margin-bottom: -1em;
}
div#Posting
{
	border: 1px solid #cccccc;
	margin-bottom: 1em;
}
div#PostingHeading
{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: larger;
	color: #633;
	background-color: #eeeeee;
}
div#PostingHeading img
{
	vertical-align: middle;
}
div#PostingHeading a
{
	text-decoration: none;
}
div#PostingFooting
{
	font-size: smaller;
	background-color: #eeeeee;
}
div#PostingTOC
{
	font-size: smaller;
}
div#PostingTOC li
{
	margin-left: 0;
}
div#PostingTOC a
{
	font-family: Georgia, "Times New Roman", Times, serif;
}
.PostingBody /* newsgroup posting */
{
	border: 0;
	margin: 0;
	background-color: #fcfcfc;
	color: #000066;
	margin-left: 0em;
	min-width: 15em;
	padding-bottom: 0.5em;
}
.PostingQuote /* quote inside newsgroup posting */
{
	border: 1px solid #666666;
	font-size: 90%;
	background-color: inherit;
	color: #666666;
	margin-left: 0em;
	min-width: 15em;
}

/* These are for the changelogs */
div.version
{
	font-size: 0.9em;
}
div.version font
{
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #633;
}
div.version li
{
	padding-bottom: 0.3ex;
}
div.bugsfixed
{
}
div.whatsnew
{
}
div.changelog-nav
{
	font-size: small;
	margin: 2em 0;
	text-align: center;
}


/* These are for comparison.html */
table.comp /* "comparison with D": table */
{
	background-color:#e9e6dd;
}
table.comp a
{
	color: black;
}
td.compNo  /* comparison with D: "NO" */
{
	background-color:red;
	text-align:center;
}
td.compYes  /* comparison with D: "YES" */
{
	background-color:#00FF00;
	text-align:center;
}


.leadingrow {
    background-color: #E4E9EF;
    font-size: 110%;
}

.d_inlinecode
{
    font-family: "Consolas", "Bitstream Vera Sans Mono", "Andale Mono", "Monaco", "DejaVu Sans Mono", "Lucida Console", "monospace";
    /* font-size: 105%; */
    /* font-weight: bold; */
    /*color: #000010; */
}

.d_decl {
    font-weight: bold;
    background-color: #E4E9EF;
    /* border-top: solid black 1px; */
    border-bottom: solid 2px #336600;
    padding: 2px 0px 2px 2px;
    text-align: left;
}

.quickindex {
	font-weight: normal;
	background-color: #E4E9EF;
}

.quickindex a {
	text-decoration: none;
}

.quickindex a:hover {
	text-decoration: underline;
}

.question
{
    display: inline;
	/* font-weight:bold;	/* Bold font */
	color: #006;
    text-decoration: underline;
	cursor:pointer;		/* Cursor is like a hand when someone rolls the mouse over the question */
}

.answer {
	display:none;
}

.answer-nojs {
	display:block;
}

.nobr {
    white-space:nowrap;
}

/* Runnable-examples css */
textarea.d_code {display: none;}
textarea.d_code_output, textarea.d_code_stdin, textarea.d_code_args
{
	text-align: left;
	border: none;
	width: 98%;
	font-size: 1.09em;
	font-family: monospace;
	padding: 5px;
	margin: 1px;
	word-wrap: break-word;
	height: auto;
	background: white;
	margin-left: 2px;
	outline: none;
}

div.d_code {margin: 0; padding: 0; font-size: 100%;	margin-bottom: -14px; background: #F6F6F6;}
div.d_run_code {display: none; margin: 1em 0 1em 3.1em;}
div.d_code_output, div.d_code_stdin, div.d_code_args, div.d_code_unittest
{
	border: 1px solid #CCC;
	background: white;
	display: none;
	height: auto;
	width: 100%;
}

.d_code_title {font-weight: bold;font-size: 100%;padding: 5px;}

.CodeMirror-wrap {padding: 3px;}
.CodeMirror {line-height: normal; font-size: 117%;border: 1px solid #CCC;background: white; }
.cm-s-eclipse span.cm-word {color: #006;}
.cm-s-eclipse span.cm-meta {color: #FF1717;}
.cm-s-eclipse span.cm-keyword { color: blue; }
.cm-s-eclipse span.cm-atom {color: #219;}
.cm-s-eclipse span.cm-number {color: #006;}
.cm-s-eclipse span.cm-def {color: #006;}
.cm-s-eclipse span.cm-variable {color: #006;}
.cm-s-eclipse span.cm-variable-2 {color: #006;}
.cm-s-eclipse span.cm-variable-3 {color:#006;}
.cm-s-eclipse span.cm-property {color: black;}
.cm-s-eclipse span.cm-operator {color: black;}
.cm-s-eclipse span.cm-comment {color: green;}
.cm-s-eclipse span.cm-string {color: red;}
.cm-s-eclipse span.cm-string-2 {color: red;}
.cm-s-eclipse span.cm-error {color: #f00;}
.cm-s-eclipse span.cm-qualifier {color: #555;}
.cm-s-eclipse span.cm-builtin {color: #30a;}
.cm-s-eclipse span.cm-bracket {color: #cc7;}
.cm-s-eclipse span.cm-tag {color: #170;}
.cm-s-eclipse span.cm-attribute {color: #00c;}
.cm-s-eclipse span.cm-link {color: #219;}
.cm-s-eclipse .CodeMirror-matchingbracket {border:1px solid grey;color:black !important;}

input.runButton, input.resetButton, input.argsButton, input.inputButton, input.editButton
{
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:72%;
	font-weight:bold;
	padding:3px 6px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
	width: 50px;
	margin: 2px;
	position: relative;
	z-index: 2;
	cursor: pointer;
}
input.runButton:hover, input.resetButton:hover, input.argsButton:hover, input.inputButton:hover, input.editButton:hover,input.runButton[disabled]
{
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}
input.runButton:active, input.resetButton:active, input.argsButton:active, input.inputButton:active, input.editButton:active
{ position: relative; top: 1px; }
input.resetButton{display: none}
/* Runnable-examples css -end */

div#mobile-top, div#mobile-search, img#mobile-hamburger
{
	display: none;
}

@media only screen and (max-width: 64em) { /* 1024px for default font-size 16 */

	div#news{
		display: none;
	}

	div#content{
		margin-right: 1em !important;
	}

}

@media only screen and (max-width: 50em) { /* 800px for default font-size 16 */

	/* Disable desktop-size UI elements */

	div#news {
		display: none;
	}

	/* Header */

	div#top {
		position: relative;
		width: auto;
		display: block;
		border-right-style: none;
		border-bottom-style: solid;
		overflow: hidden;
		text-align: center;
		font-size: 1em;
	}

	img#mobile-hamburger {
		position: absolute;
		left: 0;
		top: 0;
		width: 3.2em;
		height: 3.2em;
		line-height: 3.3em;
		text-align: center;
		display: block;
		cursor: pointer;
	}

	img#mobile-hamburger:hover {
		background: #444; /* menu_active_bg */
	}

	div#header {
		position: static;
		margin: 0 3.2em; /* = #mobile-hamburger's width */
	}

	div#header a.logo {
		display: none;
	}

	span#d-language-mobilehelper {
		display: inline-block;
		vertical-align: middle;
		line-height: 1.0;
	}

	div#header a#d-language {
		position: static;
		display: table-cell;
		vertical-align: middle;
		color: white;
		text-align: center;
		height: 3.2em;
		padding: 0;
		background: transparent;
		line-height: 1.2em;
		background: url(../images/dlogo.png) left no-repeat;
		background-size: 50px auto;
		padding-left: 60px;
		/*
			= 50px [background image width]
			+ 10px [some space between image and text]
		*/
	}

	/* Search */

	div#search-box
	{
		position: static;
		text-align: center;
		overflow: hidden;
		margin-top: 1em;

		-moz-transition: height 0.5s;
		-webkit-transition: height 0.5s;
		transition: height 0.5s;
	}

	div#search-query {
		width: 40%;
	}

	/* Navigation */

	div#navigation {
		display: block;
		position: absolute;
		top: 0;
		left: -20em;
		min-height: 100%;
		padding: 0;
		margin: 0;
		-moz-box-shadow: 10px 0px 20px black;
		-webkit-box-shadow: 10px 0px 20px black;
		box-shadow: 10px 0px 20px black;
		z-index: 10001;
		-moz-transition: left 0.5s;
		-webkit-transition: left 0.5s;
		transition: left 0.5s;
	}

	div#navigation.open{
		left: 0;
	}

	div#navigation-cancel {
		position: fixed;
		left: 0; top: 0; right: 0; bottom: 0;
		background-color: rgba(255,255,255,0.5);
		z-index: 10000;
	}

	/* Content */

	div#content {
		-moz-border-radius: 0;
		-webkit-border-radius: 0;
		border-radius: 0;
		margin-left: 0;
		margin-right: 0 !important /* override inline style! */;
	}

	body::before { /* Disable pseudo-padding. */
		display: none;
	}

	pre {
		font-size: 1em;
	}

	img#github-ribbon {
		display: none;
	}

	body#Downloads div#tools {
		padding-right: 0;
	}
}
