GNUmakefile

!appendices.html
!articles.html
!dcompiler.html
!howtos.html
!debugger.html
!language-reference.html
*.html

Thumbs.db

# CHM
/chm
*.chm
*.exe
*.obj
/chmgen
*.o
*.json

dlangspec.d

/web
/2.*.ddoc
Makefile
css/cssmenu.css

deleteme.*
docs-prerelease.json
docs.json
.dub/
dpl-docs/dpl-docs

/d.tag
