!appendices.html
!articles.html
!dcompiler.html
!howtos.html
!debugger.html
!language-reference.html
*.html

Thumbs.db

# CHM
/chm
*.chm
*.exe
*.obj
/chmgen
*.o
*.json

# PDF / eBook
dlangspec.d
dlangspec-consolidated.d
dlangspec.aux
dlangspec.log
dlangspec.out
dlangspec.tex
dlangspec.mobi

/web
Makefile
css/cssmenu.css
*.min.*

deleteme.*
docs-prerelease.json
docs.json
.dub/
dpl-docs/dpl-docs
modlist-release.ddoc

/d.tag
/.generated
