!appendices.html
!articles.html
!dcompiler.html
!howtos.html
!debugger.html
!language-reference.html
*.html

Thumbs.db

# CHM
/chm
*.chm
*.exe
*.obj
/chmgen
*.o

images/*.pdf

/web
Makefile
css/cssmenu.css
*.min.*

.dub/
dpl-docs/dpl-docs

/chm-nav*.json
/d-*.tag
/d-tags-*.json
/.generated

# Generated changelogs
changelog/*_pre.dd
changelog/pending.dd
