# dlang.org .htaccess file (local Apache configuration)

# Enable mod_rewrite
RewriteEngine On

# Indicate that this directory maps to the root
# directory of the domain.
RewriteBase /

# Phobos rewrites:

# Package files are now generated to std_foo.html
# instead of std_foo_package.html. This change was
# done to preserve the links to std.algorithm,
# std.range etc. after they were split into packages.
# However, we need redirects for packages in
# previous stable releases (namely, std.container).

RewriteRule ^(phobos(-prerelease)?/std_container)_package\.html $1.html [R=301,L]
