body, td, th
{
        font-family: serif;
        font-size: 1em;
}

h1, h2, h3, h4, h5, h6
{
        font-family: Georgia, serif;
}

h3
{
        font-weight: bold;
}

#heading, #navigation
{
        display: none;
}

div#content
{
        margin-left: 1.5em;
}

div#copyright
{
        border: none;
}

#copyright-navigation
{
        display: none;
}