.boxes
{
    margin: 2em 0;
}

.boxes .row
{
    display: table-row;
}

.boxes .item
{
    display: table-cell;
    width: 50%;
}

.boxes > .row > .item
{
    padding: 1em 2em;
}

.boxes > .row > .item > h4:first-child
{
    margin-top: 0;
}

.boxes > .row:first-child > .item
{
    padding-top: 0;
}

.boxes > .row:last-child > .item
{
    padding-bottom: 0;
}

.boxes > .row > .item:first-child
{
    padding-left: 0;
}

.boxes > .row > .item:last-child
{
    padding-right: 0;
}

/* Narrow layout stage 3: no more two column boxes */
@media only screen and (max-width: 40em)
{
    .boxes .row, .boxes .row .item
    {
        display: block;
        padding: 0;
        width: auto;
    }
}
