/* show signature download on hover */
span.sig_btn
{
    display: inline-block;
}

span.sig_btn > a:last-child
{
    visibility: hidden;
}

span.sig_btn:hover > a:last-child
{
    visibility: visible;
}

a.btn
{
    color: #333;
    background: white;
    border: 1px solid #CCC;
    border-radius: 4px;
    padding: 0.3em 0.6em;
    display: inline-block;
    text-decoration: none;
}

a.btn:hover
{
    background-color: #E6E6E6;
    border-color: #ADADAD;
    color: #333;
}


