/* top nav bar */

#top
{
    background: #B03931;
    border-bottom: 1px #98312A solid;
    position: relative;
}

#top > .helper > .helper
{
    display: table;
    width: 100%;
}

#top #cssmenu,
#top .search-container
{
    display: table-cell;
    vertical-align: middle;
}

#top .search-container
{
    width: 0; /* shrink to content size */
}

#top .logo
{
    display: block;
    float: left;
    margin-left: -5.4em;
    margin-right: -4em;
    padding-top: 1px;
}

#top img#logo
{
    height: 2.533em;
    vertical-align: middle;
    width: 13.69em;
}

#top #d-language
{
    display: none;
}

#top a.hamburger
{
    display: none;
}

#top a
{
    color: white;
    text-decoration: none;
}

#top a:hover,
#top #cssmenu li.open > a,
#top #cssmenu li.active > a
{
    background: #98312A;
}

#top .expand-container
{
    position: relative;
}

/* main menu */

#top #cssmenu
{
    width: 100%; /* take all available space */
}

/* Hide expandable sections by default in #cssmenu. They have fallback URLs. */
#top #cssmenu .expand-container > *
{
    display: none;
}
#top #cssmenu .expand-container.open > *,
#top #cssmenu .expand-container > .expand-toggle
{
    display: block;
}

#top #cssmenu ul
{
    list-style: none;
    margin: 0;
    padding: 0;
}

#top #cssmenu a, #top .search-container a
{
    display: block;
    height: 1.4em; /* Not sure why, but without this the expandable items would
        get half a pixel taller than the others. */
    padding: 0.6em 1em;
    position: relative;
    white-space: nowrap;
}

#top #cssmenu > ul > li
{
    float: left;
}

#top #cssmenu > ul > li > ul
{
    background: #B03931;
    border: 1px solid #98312A;

    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;

    -moz-box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.176);
    -webkit-box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.176);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.176);

    position: absolute;
    z-index: 5;
}

#top #cssmenu > ul > li > ul > li > a
{
    font-size: small;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    padding-right: 2em;
}

#top #cssmenu > ul > li > ul > li:first-child > a
{
    padding-top: 0.6em;
}

#top #cssmenu > ul > li > ul > li:last-child > a
{
    padding-bottom: 0.6em;
}

/* search box */

#top .search-container.expand-container .expand-toggle
{
    display: none;
}
#top .search-container.expand-container .expand-toggle::after
{
    content: "\f002  \f0d7"; /* f002 = search; f0d7 = caret down */
    font-family: FontAwesome;
}

#top .search-container.expand-container .expand-toggle span
{
    display: none;
}

#top #search-box
{
    display: block; /* Don't hide even though it's in a .expand-container. */
    padding-left: 1em;
}

div#search-box form, span#search-query, span#search-dropdown, span#search-submit
{
    border: 1px none #CCC;
}

div#search-box form
{
    background: white;

    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;

    border-style: solid;
    display: inline-block;
    font-size: small;
    margin: 0;
    vertical-align: middle;
    white-space: nowrap;
}

span#search-query,
span#search-dropdown, span#search-dropdown > .helper,
span#search-submit
{
    display: inline-block;
    height: 2em;
    line-height: 1.3;
    vertical-align: top;
}

span#search-query
{
    width: 8em;
}

span#search-query input, span#search-dropdown select, span#search-submit button
{
    background: transparent;
    color: #333;
    border: none;
    font-size: small;
    margin: 0;
    padding: 0 0.5em;
    width: 100%;
    height: 100%;
    outline: none;
}

span#search-dropdown > .helper
{
    display: inline-block;
    position: relative;
    overflow: hidden;
    width: 8em;
}

span#search-dropdown > .helper::after
{
    content: "\f0d7"; /* caret down */
    font-family: FontAwesome;
    position: absolute;
    width: 1em;
    line-height: 1em;
    top: 0.5em;
    right: 0.2em;
}

span#search-dropdown select
{
    padding-right: 7.5em;
    position: relative;
    text-overflow: ellipsis;
    width: 14em; /* Pushing the native dropdown arrow into invisibility. */
    z-index: 1;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
span#search-dropdown select::-ms-expand /* IE */
{
    display: none;
}

span#search-submit
{
    background: #E6E6E6;
    border-left-style: solid;
    line-height: 1.2em;
    width: 3em;
}

span#search-submit button
{
    color: #555;
}

span#search-submit button:active
{
    position: relative;
    top: 0.1em;
}

span#search-submit span /* hide 'go' */
{
    display: none;
}

/* Narrow layout stage 1: dropdown search */
@media only screen and (max-width: 66em)
{
    #top .search-container.expand-container .expand-toggle
    {
        display: block;
    }

    #top .expand-container > #search-box
    {
        background: #B03931;
        border: 1px solid #98312A;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        display: none;
        padding: 0.6em;
        position: absolute;
        top: 100%;
        right: 0;
        width: auto;
        z-index: 5;
    }

    #top .expand-container.open > #search-box
    {
        display: block;
    }
}

/* Narrow layout stage 2: hamburger menu */
@media only screen and (max-width:54em)
{
    #top > .helper
    {
        padding: 0;
    }

    /* lay out navigation vertically */

    #top #cssmenu, #top #search-box
    {
        display: block;
    }

    #top .logo
    {
        width: auto;
    }

    #top .logo > a
    {
        background: transparent; /* override :hover background change */
        margin-left: 1em;
    }

    #top #cssmenu, #top .search-container
    {
        display: none;
    }

    #top .expand-container.open #cssmenu,
    #top .expand-container .search-container
    {
        display: block;
    }

    #top #cssmenu
    {
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        border-top: 1px solid #943029;
        clear: both;
    }
    #top #cssmenu > ul
    {
        border-bottom: 1px solid #943029;
        border-top: 1px solid rgba(255, 255, 255, 0.1);
    }

    #top .search-container
    {
        padding: 0.6em 1em;
        width: auto;
    }

    #top .search-container.expand-container .expand-toggle
    {
        display: none;
    }

    #top .expand-container > #search-box
    {
        border: 0;
        display: block;
        padding: 0;
        position: static;
    }

    #top .expand-container .search-container
    {
        display: none;
    }

    #top .expand-container.open .search-container
    {
        display: block;
    }

    #top #search-box form
    {
        display: table;
        width: 100%;
    }

    #top #search-query, #top #search-dropdown, #top #search-submit
    {
        display: table-cell;
    }

    #top #search-query
    {
        width: auto;
    }

    #top #search-dropdown
    {
        width: 0; /* shrink to content size */
    }

    #top #cssmenu > ul > li
    {
        float: none;
    }

    #top #cssmenu > ul > li.expand-container.open > ul
    {
        border: none;

        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;

        position: static;
    }

    #top #cssmenu > ul > li.expand-container.open > ul > li > a
    {
        padding-left: 2em;
    }

    /* menu button */

    #top a.hamburger
    {
        display: inline;
        float: right;
        font-size: 2em;
        height: 1em;
        line-height: 1;
        padding: 0.15em 1em;
    }
    #top a.hamburger span
    {
        display: none;
    }
    #top a.hamburger::after
    {
        content: "\f0c9"; /* bars */
        font-family: FontAwesome;
    }
}
