/* subnav */

.subnav + #content
{
    margin-left: 19em;
}

.subnav, .subnav-helper
{
    background: #F5F5F5;
    border: 0 solid #CCC;
    border-width: 0 1px;
    padding-left: 1em;
    padding-right: 1em;
    width: 15em;
}

.subnav
{
    float: left;
    padding-bottom: 2em;
    position: relative;
}

.subnav a
{
    text-decoration: none;
}

.subnav a:hover, .subnav .expand-toggle:hover
{
    text-decoration: underline;
}

.subnav .smallprint a
{
    text-decoration: underline;
}

.subnav h2
{
    border-bottom: 1px solid #CCC;
    font-size: 1em;
    margin-right: -1em;
}

/* Hide JS toggle. It's only displayed in the narrow layouts. */
body.have-javascript .subnav.expand-container > h2.expand-toggle
{
    display: none;
}

/* Hide links that just duplicate the subnav contents. They're only displayed
in the narrow layouts without JS. */
.subnav .subnav-duplicate
{
    display: none;
}

.subnav ul
{
    list-style: none;
    margin: 0;
    padding-left: 1em;
}
.subnav > ul
{
    padding-left: 0;
}

.subnav li a
{
    display: block;
    position: relative;
    white-space: nowrap;
}

.subnav li.active > a
{
    color: #742620;
    text-decoration: underline;
}

/* hierarchy tree lines */

body.std .subnav ul ul ul
{
    border-left: 1px solid #CCC;
}

body.std .subnav .d_inlinecode
{
    display: block;
    font-weight: normal;
}

body.std .subnav li li > a > span,
body.std .subnav li li > h7 > span
{
    border-left: 1px solid #CCC;
}

body.std .subnav ul ul li > a > span::before,
body.std .subnav ul ul li > h7 > span::before
{
    border-bottom: 1px solid #CCC;
    content: "";
    display: inline-block;
    width: 0.5ex;
    margin-right: 0.5ex;

    height: 1em;
    position: relative;
    bottom: 0.5ex;
}

body.std .subnav ul ul li:last-child > ul
{
    border-left: none;
}

body.std .subnav ul ul li:last-child > a > span,
body.std .subnav ul ul li:last-child > h7 > span
{
    border-left: none;
}

body.std .subnav ul ul li:last-child > a > span::before,
body.std .subnav ul ul li:last-child > h7 > span::before
{
    border-left: 1px solid #CCC;
}

/* Don't show ddox package symbols in the subnav. */
body.std .subnav a.package
{
    background: none;
    padding-left: 0;
    font-style: normal;
}

.subnav-helper
{
    bottom: 0;
    content: "";
    position: absolute;
    top: 0;
}

/* Narrow layout stage 1: dropdown subnav */
@media only screen and (max-width: 66em)
{
    .subnav
    {
        float: none;
        border-bottom-width: 1px;
        border-left-width: 0;
        border-right-width: 0;
        margin: 0 -1em;
        padding: 0.6em 1em;
        width: auto;
    }

    body .subnav.expand-container > *
    {
        display: none;
    }

    .subnav.open
    {
        padding-bottom: 1em;
    }

    body.doc .subnav > ul,
    body.std .subnav > ul > li > ul
    {
        -moz-column-width: 17em;
        -webkit-column-width: 17em;
        column-width: 17em;
    }

    body.changelog .subnav > ul
    {
        -moz-column-width: 10em;
        -webkit-column-width: 10em;
        column-width: 10em;
    }

    body.doc .subnav > ul > li,
    body.std .subnav > ul > li > ul > li
    {
        /* avoid column breaks inside li */
        -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
        page-break-inside: avoid; /* Firefox */
        break-inside: avoid; /* IE 10+ */
    }

    .subnav h2
    {
        border-bottom-style: none;
        margin-right: 0;
        margin-top: 0;
        padding-top: 1em;
    }

    /* Without JS, display the head section (h2, subhome link, ...) on one line.
    With JS, display the toggle, and hide the other h2. */
    .subnav > *
    {
        display: none;
    }
    .subnav > .head
    {
        display: block;
        word-spacing: 1em;
    }
    .subnav > .head > *
    {
        display: inline;
        word-spacing: 0;
    }
    .subnav > .head br
    {
        display: none;
    }
    .sunbav .subnav-duplicate
    {
        display: block;
    }
    .subnav > .head .separator::after
    {
        content: "\2013"; /* U+2013 EN DASH */
    }
    body.have-javascript .subnav.expand-container > .head > *,
    body.have-javascript .subnav.expand-container.open > .head > h2,
    body.have-javascript .subnav.expand-container.open > .head > .subnav-duplicate
    {
        display: none;
    }

    body.have-javascript .subnav.expand-container > h2.expand-toggle,
    body.have-javascript .subnav.expand-container.open > .head > *,
    body.have-javascript .subnav.expand-container > .head br
    {
        display: block;
    }
    body.have-javascript .subnav > h2.expand-toggle
    {
        margin: 0;
        padding: 0;
    }
    body.have-javascript .head .separator::after
    {
        content: none;
    }
    body.have-javascript .subnav.open > h2
    {
        border-bottom-style: solid;
        margin-bottom: 1em;
    }

    .subnav + #content
    {
        margin-left: 0;
    }

    .subnav-helper
    {
        display: none;
    }
}
