table
{
    border: solid #333;
    border-width: 2px 0;
    border-collapse: collapse;
}

table tr
{
    border: none;
}

table td, table th, table caption
{
    text-align: left;
    vertical-align: top;
    padding: 0.3em;
}

table td
{
    border: none;
    border-bottom: 1px solid #E6E6E6;
    text-align: justify;
}

table th
{
    border: none;
    border-bottom: 1px solid #333;
}

table td:not(:last-child), table th:not(:last-child)
{
    padding-right: 1em;
}
