
body > .container
{
    position: relative;
}

#content
{
    padding-bottom: 1em;
    text-align: justify;
}

/*  This is a CSS hack to only target Blink based browsers
    Targets Chrome 28 and later and Opera 14 and later
*/
@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) {
    #content
    {
        /* because Blink based browsers don't support hyphens */
        text-align: left;
    }
}
