/*

-- Colors --

Greys:

white
#FCFCFC
#F5F5F5
#E6E6E6
#CCC
#ADADAD
#999
#555
#333 - main text

Reds:

#B03931 - our main red
#742620 - focus/hover

#D8645E - on dark background
#F47069 - focus/hover on dark background

#98312A
#943029

-- Font Sizes --

Keep the number of different font sizes low. The different heading levels
(h1, ... h6) get specific sizes. Other than that, try to use 'small' and
'large'.

-- Misc --

border-radius: always 4px

*/

@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700);
