body.chm div#news,
body.chm div.subnav-helper,
body.chm div.subnav,
body.chm div#top
{
    display: none;
}

body.chm
{
    min-width: 0 !important;
}

body.chm div#content
{
    padding: 20px;
    border: none;
    margin: 0 !important;
    border-radius: 0;
}

body.chm div#tools
{
    margin-right: 0;
}

body.chm dt.d_decl
{
    width: 100%;
}
