h1, h2, h3, h4, h5, h6
{
    font-weight: normal;
    line-height: normal;
    text-align: left;
    margin: 2em 0 1em;
}

h1
{
    font-size: 2.0em;
    margin-top: 0;
}

h2
{
    font-size: 1.5em;
}

h3
{
    font-size: 1.35em;
}

h4
{
    font-size: 1.15em;
}

form
{
    margin: 0;
}

img
{
    border: 0;
}
