body, .d_decl .quickindex
{
    font-family: "Roboto Slab", sans-serif;
}

#top > .helper,
body > .container,
body#Home #content #tools > div,
body#Home #content > .intro > div,
body#Home #content > .more
{
    margin: auto;
    max-width: 76em;
    padding: 0 1em;
}

pre, code, .tt, .d_inlinecode, td.param_id, .CodeMirror pre, .d_decl
{
    font-family: Consolas, "Bitstream Vera Sans Mono", "Andale Mono", Monaco, "DejaVu Sans Mono", "Lucida Console", monospace;
}
pre, .CodeMirror pre
{
    font-size: small;
}
#content #tools
{
    padding: 0.3em 0 0.6em 0;
    text-align: right;
}

#content #tools .tip
{
    display: inline-block;
    padding-left: 0.5em;
}

.expand-container > .expand-toggle::after
{
    content: " \f0d7"; /* caret down */
    font-family: FontAwesome;
}
body.have-javascript .expand-container.open > .expand-toggle::after
{
    content: " \f0d8"; /* caret up */
}

body.have-javascript .expand-container > *
{
    display: none;
}

/* Not hiding .subnav by default; only in the narrow layouts. */
body .subnav.expand-container > *
{
    display: block;
}

body.have-javascript .expand-container.open > *,
body.have-javascript .expand-container > .expand-toggle
{
    display: block;
}

/* replaces <big> tag */
em.big
{
    font-style: normal;
    font-size: larger;
}

/* replaces <tt> tag */
em.tt
{
    font-style: normal;
}

/* replaces <u> tag */
em.u
{
    font-style: normal;
    text-decoration: underline;
}

table.params
{
    border: 1px dotted #333;
}

tr.param
{
    border: none;
    border-bottom: 1px dotted gray;
}

tr:last-child
{
    border-bottom: none;
}

td.param_id
{
    border: inherit;
    font-weight: bold;
    padding-right: 1em;
    white-space: nowrap;
    vertical-align: top;
}

td.param_desc
{
    border: inherit;
    font-style: italic;
}

.footnote
{
    font-style: italic;
}
.footnote::before { content: " ("; }
.footnote::after { content: ")"; }

.gname
{
    font-style: italic;
}

.metacode
{
    font-style: italic;
}

.key
{
    font-weight: bold;
    display: block;
}

div.summary, div.description, div.keyval
{
    margin: 1.12em 0;
}

blockquote
{
    background-color: #e5e5e5;
    display: block;
    padding: 0.25em 1em;
    margin: 1em 2em;
}

blockquote p:before
{
    content: "\201C";
    color: #bacaca;
    display: block;
    font-size: 700%;
    width: 50px;
    height: 0;
    margin-left: -0.5em;
    line-height: 0.8em;
}

blockquote p
{
    margin: 0;
    font-style: italic;
}

blockquote cite
{
    display: block;
    text-align: right;
}

/* pre.prettyprint and div.prototype come from prettyprint.js */
pre, pre.prettyprint, div.prototype
{
    background: white;
    border-radius: 4px;
    padding: 1ex;
    margin: 1em 0 1em 0;
    line-height: normal;
    border: 1px solid #ccc;
    width: auto;
}
pre
{
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

dd, .d_decl_dd
{
    margin: 0;
    margin-bottom: 2em;
    padding: 1ex;
    padding-left: 2em;
}

.template_param_list
{
    color: #48688E;
}

.constraint
{
    opacity: .35;
}

.constraint:before {
    content: "Constraints: ";
    visibility: hidden;
}

.constraint:hover:before {
    visibility: visible;
}

.constraint:hover {
    opacity: 1;
}

hr
{
    margin: 2em 0;
}

a, .question, .expand-toggle
{
    color: #B03931;
    cursor: pointer;
}

a:hover, .question:hover, .expand-toggle:hover
{
    color: #742620;
}

/* Avoid inserting the pilcrow in the middle of the line on the compiler pages */

body.dcompiler dt a.anchor:hover::after
{
    display: none;
}

body.dcompiler dt a.anchor:hover
{
    position: relative;
}

body.dcompiler dt a.anchor:hover:before
{
    content: " \00B6";
    color: #333;
    font-style: normal;
    position: absolute;
    left: -1em;
}

body#Menu #content li.expand-container ul
{
    display: block;
}

.leadingrow {
    background-color: #E4E9EF;
    font-size: 110%;
}

.quickindex {
    font-weight: normal;
    background-color: #F5F5F5;
}

.quickindex a {
    text-decoration: none;
}

.quickindex a:hover {
    text-decoration: underline;
}

.page-contents-header
{
    text-align: center;
}

.page-contents-header h3
{
    display: inline;
    color: #444;
    font-weight: bold;
    margin-top: 0;
}

.page-contents li
{
    line-height: 1.3;
    padding-bottom: 0;
}

@media only screen and (min-width: 66em)
{
    pre
    {
        overflow: auto;
    }

    .page-contents
    {
        float: right;
    }
}
