/* These are for the changelogs */
div.version
{
    font-size: 0.9em;
}
div.version font
{
    color: #633;
}
div.version li
{
    padding-bottom: 0.3ex;
}
div.changelog-nav
{
    font-size: small;
    margin: 2em 0;
    text-align: center;
}
