table.download-compilers
{
    width: 100%;
    max-width: 50em;
    table-layout: fixed;
}

table.download-compilers td
{
    border: none;
}

table.download-compilers h2
{
    margin: 0;
}

table.download-compilers > tbody > tr:first-child > td
{
    text-align: center;
    vertical-align: middle;
}

table.download-compilers > tbody > tr:nth-child(2) > td
{
    text-align: left;
}

table.download-compilers > tbody > tr:nth-child(2) > td > ul
{
    margin-bottom: 0;
    padding-left: 1em;
}

table.download-compilers div.download-link
{
    text-align: center;
    margin-bottom: 1em;
}

table.download-compilers img
{
    width: 100%;
}

table.download-compilers h3
{
    margin-top: 0;
    text-align: center;
}

div#download-choose
{
    float: right;
}

.download_image
{
    display: inline-block;
    width: 100px;
    vertical-align: top;
}

h3.download
{
    display: inline-block;
}

.download_paragraph
{
    display: inline-block;
}

.download_paragraph > h3
{
    margin: 0;
}

/* release | beta | nightly */
.download_channels
{
    word-spacing: 2em;
}

.download_channel
{
    display: inline-block;
    word-spacing: initial;
}
