body#Home > .container
{
    max-width: none;
    padding: 0;
}

body#Home #content #tools,
body#Home #content > .intro
{
    background: #F5F5F5;
}

body#Home #content > h1
{
    margin: 0;
}

body#Home #content > .intro
{
    padding-bottom: 1em;
    border-bottom: 1px solid #E6E6E6;
}

body#Home #content > .intro > div > div
{
    display: table;
    width: 100%;
}

body#Home #content > .intro > div > div > *
{
    display: table-cell;
}

body#Home #content > .intro .pitch
{
    font-size: large;
    font-weight: 300;
    margin: auto;
    width: 21em;
}

body#Home #content > .intro .download
{
    margin-top: 3em;
    text-align: center;
}

body#Home #content > .intro .download .btn
{
    margin-bottom: 0.3em;
}

body#Home #content > .intro #your-code-here
{
    padding-left: 1em;
    position: relative;
    width: 32em;
}

body#Home #content > .intro #your-code-here .tip
{
    position: absolute;
    top: 0.1em;
    right: 0.3em;
    z-index: 1;
}

body#Home #content > .intro #your-code-here pre
{
    margin: 0;
}

body#Home div#news
{
    float: right;
    width: 252px;
}

body#Home div#forum-summary
{
    color: white;
    width: 100%;
    margin-right: 1em;
}

body#Home div#forum-summary > iframe
{
    border: 0;
    width: 100%;
    height: 210px;
}

body#Home .more .boxes, body#Home .more .whyd
{
    margin-right: 252px; /* prevent overlapping with #news */
    padding-right: 4em;
}

body#Home .boxes .item .big-icon
{
    padding-right: 0.5em;
}

body#Home .whyd .section
{
    margin-bottom: 1.5em;
    border-left: 5px solid #B03931;
    border-radius: 4px;
}
body#Home .whyd .section > div
{
    border: 1px solid #E6E6E6;
    border-left: none;
    border-radius: 4px;
    padding: 1.5em;
}
body#Home .whyd .section > div > *:first-child
{
    margin-top: 0;
}
body#Home .whyd .section > div > *:last-child
{
    margin-bottom: 0;
}

body#Menu #content li.expand-container a::after
{
    content: "";
}

/* Narrow layout stage 1: intro */
@media only screen and (max-width: 66em)
{
    body#Home #content > .intro .pitch
    {
        width: 15em;
    }
}

/* Narrow layout stage 2: forum/twitter widgets disappear from
the home page, intro pitch and your-code-here layed out vertically */
@media only screen and (max-width:54em)
{
    body#Home #content > .intro > div > div
    {
        display: block;
        width: auto;
    }

    body#Home #content > .intro > div > div > *
    {
        display: block;
    }

    body#Home #content > .intro .pitch
    {
        max-width: 21em;
        width: auto;
    }

    body#Home #content > .intro #your-code-here
    {
        padding: 0;
        margin: auto;
        margin-top: 2em;
    }

    body#Home #news
    {
        display: none;
    }

    body#Home .more .boxes, body#Home .more .whyd
    {
        margin-right: 0;
        padding-right: 0;
    }
}

/* Narrow layout stage 3: no more two column boxes */
@media only screen and (max-width: 40em)
{
    body#Home #content > .intro #your-code-here
    {
        /* change width to max-width */
        width: auto;
        max-width: 32em;
    }
}
