/*
Styling for page anchor self-links.

These links look like regular headers unless hovered, in which case
they are underlined and display a pilcrow after them.
*/
a.anchor
{
    color: #633; /* Use the regular header text color */
    text-decoration: none; /* Don't underline unless hovered */
}

a.anchor:hover
{
    text-decoration: underline; /* See above */
}

a.anchor:hover::after
{
    content: " \00B6"; /* Unicode pilcrow symbol */
    color: #333; /* Pilcrow should not use the regular header text color */
    font-style: normal; /* ... and should not be italic */
}

/*
 * Ddoc method anchors
 */
.decl_anchor {
    visibility: hidden;
    float: right;
    margin-top: 5px;
    margin-right: 5px;
    text-decoration: none;
}

dt.d_decl:hover .decl_anchor {
    visibility: visible;
}
