/* These are different kinds of <pre> sections */
.bnf /* grammar */
{
    background-color: white;
}

.ddoccode
{
    background-color: #f3eeee;
}

.console /* command line console */
{
    background-color: #333;
    border-color: #333;
    color: #F5F5F5;
}
.console a
{
    color: #D8645E;
}
.console a:hover
{
    color: #F47069;
}

.moddeffile /* module definition file */
{
    background-color: #efeffe;
    color: #010199;
}

.scini /* sc.ini configuration file */
{
    background-color: #fef6fe;
    color: #111199;
}

.d_code, .d_code2 /* D code */
{
    background-color: #fcfcfc;
}

.asmcode /* Asm code */
{
    background-color: #afcbde;
    border-color: #afcbde;
}

.ccode, .cppcode, .cppcode2 /* C/C++ code */
{
    background-color: #f6ecf0;
}

td .d_code2, td .cppcode2, td .cppcode
{
    min-width: 20em;
    margin: 1em 0;
}

.d_inlinecode
{
    font-weight: bold;
}


