.black { color: black; }
.blue { color: blue; }
.green { color: green; }
.red { color: red; }
.white { color: white; }
.yellow { color: yellow; }

.bigoh
{
    font-weight: bold;
}

.question, .question *
{
    display: inline;
    text-decoration: underline;
    cursor:pointer;     /* Cursor is like a hand when someone rolls the mouse over the question */
}

.answer {
    display:none;
}

.nobr {
    white-space:nowrap;
}
