
.hyphenate
{
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -epub-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.donthyphenate
{
    -webkit-hyphens: manual;
    -moz-hyphens: manual;
    -epub-hyphens: manual;
    -ms-hyphens: manual;
    hyphens: manual;
}
